div {
    margin-bottom: 30px;
}

.exemplo-blend {
    width: 300px;
    height: 300px;
    border: 10px dashed red;
    color: white;
    padding: 30px;
    font-size: 40px;
    font-weight: 900;
    background-color: blue;
    background-image: url(https://img.freepik.com/premium-photo/abstract-background-images-wallpaper-ai-generated_643360-13076.jpg);
    background-blend-mode: screen;
}

/*Alguns atributos para background-blend-mode: multiply, overlay, screen, darken, lighten, color-dodge, color-burn, hard-light, soft-light, difference, exclusion, hue, saturation, color, luminosity*/