#link-decoration {
    text-decoration: none;
}

#text-ident {
    text-indent: 30px;
}

/*text-ident serve para poder colocar espaçamento no começo dos textos*/

#letter-spacing {
    letter-spacing: 4px;
}

#word-spacing {
    word-spacing: 8px;
}