html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #26aba7;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
#logo {
    display: inline;
    float: left;
}
#logo-titulo {
    display: inline;
    float: left;
    margin: 30px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
#titulo-content {
    font-size: 2.087rem;
    font-weight: normal;
    color: var(--black);
    line-height: normal;
    letter-spacing: -0.96px;
    margin: 1em 0;
}
#paragrafo-titulo {
    font-size: 1rem;
    font-weight: 300;
    color: grey;
    line-height: 1.7;
    margin: 1.5em 0;
    align-content: center;
    text-align: center;
}
#block-content {
    margin: 30px;
    padding: 15px;
}
#localidade-p {
    margin: 30px;
    padding: 30px;
    font-size: 1rem;
    font-weight: 300;
    color: grey;
    line-height: 1.7;
    margin: 1.5em 0;
    align-content: center;
    text-align: center;
}
#instagrambtn {
    margin: 30px;
    padding: 15px;
    border: solid 5px rgb(5, 108, 108);
    background-color: rgb(5, 108, 108);
    color: black;
}
#about-homepage {
    margin: 30px;
    padding: 30px;
    font-size: 1rem;
    font-weight: 300;
    color: grey;
    line-height: 1.7;
    margin: 1.5em 0;
    align-content: center;
    text-align: center;
}
#btn-about {
    margin: 30px;
    padding: 15px;
    border: solid 5px rgb(5, 108, 108);
    background-color: rgb(5, 108, 108);
    color: black;
    float: right;
    align-content: center;
}
#table-general {
    border: solid 5px #003d3b;
}
table thead th {
    background-color: #003d3b;
    color: aliceblue;
}
table tbody tr:nth-child(even) td{
    background-color: antiquewhite;
}
table tr:hover td {
    background-color: darkgray;
    cursor: pointer; 
}
form {
    border: solid #003d3b;
    margin: 15px;
    padding: 15px;
}
.btn-form {
    margin: 15px;
}
.footer {
    background-color: #003d3b;
    min-height: 150px;
}
#imagem-footer {
    display: inline;
    float: left;
}
#footer-content {
    display: inline;
    float: left;
}