body {
    height: 200vh;
}

div {
    margin-bottom: 30px;
}

p {
    font-size: large;
    color: rgb(0, 0, 0);
}

.exemplo-atc {
    width: 300px;
    height: 300px;
    background-image: url(https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_1920,f_auto/A-Alamy-BXWK5E_vvmkuf.jpg);
    background-size: cover;
    border: solid blue 2px;
    overflow: auto;
}

#attachment-fixed {
    background-attachment: fixed;
    background-size: contain;
}

#attachment-scroll {
    background-attachment: scroll;
}

#attachment-local {
    background-size: cover;
    background-attachment: local;
}